<html>

<head>


</head>

<body>
    <header>
        <P>Mi sitio!</P>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <nav>
            <ul>
                <li>
                    <a href="/peliculas/crear">Crear Peli</a>
                </li>
                <li>
                    <a href="/peliculas">Ver Pelis</a>
                </li>
            </ul>
        </nav>
    </header>