<%- include('header') -%>
<h1> listado de Pelis </h1>

<ul> <% for (let i = 0; i < peliculas.length; i++ ) { %>

    <li>
    
<%=peliculas[i].title%>

    </li>
  <% } %>

</ul>

<%- include('footer') -%>